.shipping-list__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
h2{
    text-align: center;
}
.purchase-table__inner{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
.purchase-table__inner th, .purchase-table__inner td{
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
    font-size: 18px;
}
.purchase-table__inner th{
    background-color: #f2f2f2;
    font-size: 20px;
}
.shipping_form_button{
    font-size: 25px;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: auto;
    background-color: #f37b9b;
    margin-top: 30px;
    cursor: pointer;
}